<nav class="product-filter">
    <!-- <h1>Jackets</h1> -->
    <h1>Product</h1>
  
    <div class="sort">
      <div class="collection-sort">
        <label>Filter by:</label>
        <select (change)="filterCat()" [(ngModel)]="selectCat">
            <option value="">Select Category</option>
            <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
        </select>
      </div>
  
      <div class="collection-sort">
        <label>Sort by:</label>
        <select (change)="sortBy()" [(ngModel)]="selectSort">
          <option value="fav">Featured</option>
          <option value="sell">Best Selling</option>
          <option value="a-z">Alphabetically, A-Z</option>
          <option value="z-a">Alphabetically, Z-A</option>
          <option value="prc-low">Price, low to high</option>
          <option value="prc-high">Price, high to low</option>
          <option value="dat-new">Date, new to old</option>
          <option value="dat-old">Date, old to new</option>
        </select>
      </div>
    </div>
  </nav>